@font-face {
	font-family:'HelveticaNeueLT-ExtBlackCondObl';
	src: url('../fonts/HelveticaNeueLT-ExtBlackCondObl_gdi.eot');
	src: url('../fonts/HelveticaNeueLT-ExtBlackCondObl_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueLT-ExtBlackCondObl_gdi.woff') format('woff'),
		url('../fonts/HelveticaNeueLT-ExtBlackCondObl_gdi.ttf') format('truetype'),
		url('../fonts/HelveticaNeueLT-ExtBlackCondObl_gdi.svg#HelveticaNeueLT-ExtBlackCondObl') format('svg');
	font-weight: 400;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-2122;
}


@font-face {
	font-family:'HelveticaNeueLT-ExtBlackCond';
	src: url('../fonts/HelveticaNeueLT-ExtBlackCond_gdi.eot');
	src: url('../fonts/HelveticaNeueLT-ExtBlackCond_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueLT-ExtBlackCond_gdi.woff') format('woff'),
		url('../fonts/HelveticaNeueLT-ExtBlackCond_gdi.ttf') format('truetype'),
		url('../fonts/HelveticaNeueLT-ExtBlackCond_gdi.svg#HelveticaNeueLT-ExtBlackCond') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2122;
}


@font-face {
	font-family:'HelveticaNeueLT-CondensedObl';
	src: url('../fonts/HelveticaNeueLT-CondensedObl_gdi.eot');
	src: url('../fonts/HelveticaNeueLT-CondensedObl_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueLT-CondensedObl_gdi.woff') format('woff'),
		url('../fonts/HelveticaNeueLT-CondensedObl_gdi.ttf') format('truetype'),
		url('../fonts/HelveticaNeueLT-CondensedObl_gdi.svg#HelveticaNeueLT-CondensedObl') format('svg');
	font-weight: 400;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0001-2122;
}


@font-face {
	font-family:'HelveticaNeueLT-Condensed';
	src: url('../fonts/HelveticaNeueLT-Condensed_gdi.eot');
	src: url('../fonts/HelveticaNeueLT-Condensed_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueLT-Condensed_gdi.woff') format('woff'),
		url('../fonts/HelveticaNeueLT-Condensed_gdi.ttf') format('truetype'),
		url('../fonts/HelveticaNeueLT-Condensed_gdi.svg#HelveticaNeueLT-Condensed') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0001-2122;
}


@font-face {
	font-family:'HelveticaNeueLT-BoldOutline';
	src: url('../fonts/HelveticaNeueLT-BoldOutline_gdi.eot');
	src: url('../fonts/HelveticaNeueLT-BoldOutline_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueLT-BoldOutline_gdi.woff') format('woff'),
		url('../fonts/HelveticaNeueLT-BoldOutline_gdi.ttf') format('truetype'),
		url('../fonts/HelveticaNeueLT-BoldOutline_gdi.svg#HelveticaNeueLT-BoldOutline') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}


@font-face {
	font-family:'HelveticaNeueLT-Black';
	src: url('../fonts/HelveticaNeueLT-Black_gdi.eot');
	src: url('../fonts/HelveticaNeueLT-Black_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueLT-Black_gdi.woff') format('woff'),
		url('../fonts/HelveticaNeueLT-Black_gdi.ttf') format('truetype'),
		url('../fonts/HelveticaNeueLT-Black_gdi.svg#HelveticaNeueLT-Black') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0001-2122;
}